@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Outfit.ttf) format('ttf');
  }
}

@layer components {
    html {
      @apply text-base font-sans h-full w-full bg-white text-center text-[#003f57];
    }
    body {
      @apply flex justify-center h-full w-full;
      background-image: url(../images/clouds.jpeg);
      background-position: 50% 50%;
      background-size: cover;
    }
    h1 {
      @apply text-2xl important-sm-text-xl font-bold;
    }
    h2 {
      @apply text-xl important-sm-text-lg font-bold mb-3;
    }
    p {
      @apply text-base;
    }
    body {
      @apply sm:flex-col sm:h-auto pb-14;
    }
    button {
      @apply w-[30%] sm:w-[100%] mt-8 px-4 py-2 sm:py-3 text-[#45b5de] bg-[#ffffff99] border-2 border-[#45b5de] font-bold rounded-md;
    }
    button:hover {
      @apply bg-[#f8fdff] translate-y-[-1px] shadow-custom-hover tracking-wide duration-200 ease-in;
    }
    input {
      @apply w-[80%] sm:w-[100%] sm:text-sm px-2 py-2 sm:py-3 border border-[#599fc8] bg-[#ffffff60] text-center text-[#003f57] rounded-xl;
    }
    input::placeholder {
      @apply text-[#003e5770];
    }
    input:focus-visible {
      outline: solid #003f57;
    }
    input:checked ~ .dot {
      transform: translateX(100%);
      background-color: #45b5de;
    }
    .card {
      @apply w-4/5 sm:w-11/12 bg-[#f3f3f10d] mx-auto my-7 rounded border-none p-5 sm:py-6 sm:space-y-10 shadow-custom-light;
    }
    #spinner {
      @apply w-9/12 sm:w-11/12 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }
    .loader {
      @apply h-16 w-16 sm:h-10 sm:w-10 border-4 border-t-4 border-gray-200 rounded-full animate-spin;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    #weatherDetailsCard, #weatherForm {
      @apply space-y-4 sm:space-y-6 !important;
    }
    .important-sm-text-lg {
      @apply sm:text-lg !important;
    }
    .important-sm-text-xl {
      @apply sm:text-xl !important;
    }
    .important-sm-w {
      @apply sm:w-[81%] mx-2 !important;
    }
    .important-border {
      @apply border-none !important;
    }
    .ui-autocomplete {
      @apply important-border important-sm-w rounded-md shadow-custom-light;
      font-family: 'Outfit', sans-serif !important;
    }
    .ui-menu {
      font-family: 'Outfit', sans-serif !important;
    }
    .ui-widget-content {
      @apply bg-[#f7f7f5] text-[#003f57];
      font-family: 'Outfit', sans-serif !important;
    }
    .ui-widget-content * {
      font-family: 'Outfit', sans-serif !important;
    }
    .ui-menu-item {
      font-family: 'Outfit', sans-serif !important;
    }
    .ui-state-active {
      @apply bg-[#45b5de] text-white border-white !important;
      font-family: 'Outfit', sans-serif !important;
    }
    .ui-menu .ui-menu-item-wrapper {
      border-radius: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }