@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    html {
      @apply text-base font-sans h-full w-full bg-white text-center text-[#003f57];
    }
    body {
      @apply flex justify-center h-full w-full;
      background-image: url(../images/clouds.jpeg);
      background-position: 50% 50%;
      background-size: cover;
    }
    h1 {
      @apply text-2xl font-bold;
    }
    p {
      @apply text-base;
    }
    button {
      @apply w-48 px-4 py-2 text-white bg-[#45b5de] font-bold rounded-md;
    }
    input:checked ~ .dot {
      transform: translateX(100%);
      background-color: #45b5de;
    }
    .card {
      @apply w-[80%] bg-[#f3f3f10d] mx-auto my-7 rounded border-none p-5 shadow-custom-light;
    }
    #spinner {
      @apply w-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }
    .loader {
      @apply h-16 w-16 border-4 border-t-4 border-gray-200 rounded-full animate-spin;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }