<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Weather App</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
</head>
<body>
    <header>
        <div class="container">
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
     <footer class="footer absolute sm:relative bottom-5 sm:bottom-2 left-1/2 transform -translate-x-1/2 flex justify-center ">
        <div class="container text-center text-xs">
            &copy; &nbsp; <a href="https://benjan-spot.vercel.app/" target="_blank">Benjan</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
